TextField {
    color: white;
}
  
#parentStackLayout {
    padding: 20;
}
  
DropDown {
    font-family: 'Roboto', Roboto;
}
  
.dropDownStackCover {    
    border-width: 1;
    border-color:black;
    border-radius: 5;
    padding: 5;
    margin-bottom: 30;
}
  
.tableLabelId {   
    border-width: 1;
    border-top-width: 0;
    border-color:black;
    padding: 5;
}
  
.tableLabelName {   
    border-width: 1;
    border-top-width: 0;
    border-left-width: 0;
    border-color:black;
    padding: 5;
}